body {  
    min-height: 3000px;
}
.jumbotron {
    
    background-color: #9fc5ff;
}

#projects {
    background-color: #9fc5ff;
}

section{
    padding-top: 7em;
}

h1{
    font-family: 'Times New Roman', Times, serif
    ; 
}